.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cardsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
}

.button {
  width: 100px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  transition: all 0.2s;
}

.button:hover {
  color: white;
  background-color: black;
}